[submodule "Users/Amirhosein-Hashemy"]
	path = Users/Amirhosein-Hashemy
	url = git@github.com:Data-Science-Kharazmi-University/Amirhosein-Hashemy.git
[submodule "Users/AmirMohammad-HoseiniNasab"]
	path = Users/AmirMohammad-HoseiniNasab
	url = git@github.com:Data-Science-Kharazmi-University/AmirMohammad-HoseiniNasab.git
[submodule "Users/MohammadReza-Razavian"]
	path = Users/MohammadReza-Razavian
	url = git@github.com:Data-Science-Kharazmi-University/MohammadReza-Razavian.git
[submodule "Users/Amirhosein-AminNegareshy"]
	path = Users/Amirhosein-AminNegareshy
	url = git@github.com:Data-Science-Kharazmi-University/Amirhosein-AminNegareshy.git
[submodule "Users/Amirhosein-Kazazy"]
	path = Users/Amirhosein-Kazazy
	url = git@github.com:Data-Science-Kharazmi-University/Amirhosein-Kazazy.git
[submodule "Users/Ali-Amini"]
	path = Users/Ali-Amini
	url = git@github.com:Data-Science-Kharazmi-University/Ali-Amini.git
[submodule "Users/Mahbod-Ghadiry"]
	path = Users/Mahbod-Ghadiry
	url = git@github.com:Data-Science-Kharazmi-University/Mahbod-Ghadiry.git
[submodule "Users/Mohammad-Mohammady"]
	path = Users/Mohammad-Mohammady
	url = git@github.com:Data-Science-Kharazmi-University/Mohammad-Mohammady.git
[submodule "Users/Kiana-Noushifar"]
	path = Users/Kiana-Noushifar
	url = git@github.com:Data-Science-Kharazmi-University/Kiana-Noushifar.git
[submodule "Users/Danial-Azimy"]
	path = Users/Danial-Azimy
	url = git@github.com:Data-Science-Kharazmi-University/Danial-Azimy.git
[submodule "Users/Mohammad-Ghadery"]
	path = Users/Mohammad-Ghadery
	url = git@github.com:Data-Science-Kharazmi-University/Mohammad-Ghadery.git
[submodule "Users/Arman-Rostamy"]
	path = Users/Arman-Rostamy
	url = git@github.com:Data-Science-Kharazmi-University/Arman-Rostami.git
[submodule "Users/Mohammad-Ashtiany"]
	path = Users/Mohammad-Ashtiany
	url = git@github.com:Data-Science-Kharazmi-University/Mohammad-Ashtiany.git
[submodule "Users/Yousef-Osanloo"]
	path = Users/Yousef-Osanloo
	url = git@github.com:Data-Science-Kharazmi-University/Yousef-Osanloo.git
[submodule "Users/Mehrdad-Aramesh"]
	path = Users/Mehrdad-Aramesh
	url = git@github.com:Data-Science-Kharazmi-University/Mehrdad-Aramesh.git
[submodule "Users/Parya-Parvan"]
	path = Users/Parya-Parvan
	url = git@github.com:Data-Science-Kharazmi-University/Parya-Parvan.git
[submodule "Users/Bahar-Mostafaey"]
	path = Users/Bahar-Mostafaey
	url = git@github.com:Data-Science-Kharazmi-University/Bahar-Mostafaey.git
[submodule "Users/Zahra-Zamany"]
	path = Users/Zahra-Zamany
	url = git@github.com:Data-Science-Kharazmi-University/Zahra-Zamany.git
[submodule "Users/Arastoo-Maleky"]
	path = Users/Arastoo-Maleky
	url = git@github.com:Data-Science-Kharazmi-University/Arastoo-Maleky.git
[submodule "Users/Ali-Saadaty"]
	path = Users/Ali-Saadaty
	url = git@github.com:Data-Science-Kharazmi-University/Ali-Saadaty.git
[submodule "Users/Maryam-Mohammady"]
	path = Users/Maryam-Mohammady
	url = git@github.com:Data-Science-Kharazmi-University/Maryam-Mohammady.git
[submodule "Users/Reyhane-Bonyady"]
	path = Users/Reyhane-Bonyady
	url = git@github.com:Data-Science-Kharazmi-University/Reyhane-Bonyady.git
[submodule "Users/Aida-Bashirian"]
	path = Users/Aida-Bashirian
	url = git@github.com:Data-Science-Kharazmi-University/Aida-Bashirian.git
[submodule "Users/Amirhosein-Rezghy"]
	path = Users/Amirhosein-Rezghy
	url = git@github.com:Data-Science-Kharazmi-University/Amirhosein-Rezghy.git
[submodule "Users/Mobin-Ghahremanian"]
	path = Users/Mobin-Ghahremanian
	url = git@github.com:Data-Science-Kharazmi-University/Mobin-Ghahremanian.git
[submodule "Users/Armin-Jodat"]
	path = Users/Armin-Jodat
	url = git@github.com:Data-Science-Kharazmi-University/Armin-Jodat.git
[submodule "Users/Mohammad-Vafaiy"]
	path = Users/Mohammad-Vafaiy
	url = git@github.com:Data-Science-Kharazmi-University/Mohammad-Vafaiy.git
[submodule "Users/Qazal-Ebady"]
	path = Users/Qazal-Ebady
	url = git@github.com:Data-Science-Kharazmi-University/Qazal-Ebady.git
[submodule "Users/Amirhosein-JVD"]
	path = Users/Amirhosein-JVD
	url = git@github.com:Data-Science-Kharazmi-University/Amirhosein-JVD.git
[submodule "Users/Hosein-Ataloo"]
	path = Users/Hosein-Ataloo
	url = git@github.com:Data-Science-Kharazmi-University/Hosein-Ataloo.git
[submodule "Users/Matin-Ahmady"]
	path = Users/Matin-Ahmady
	url = git@github.com:Data-Science-Kharazmi-University/Matin-Ahmady.git
[submodule "Users/MohammadMahdi-Einy"]
	path = Users/MohammadMahdi-Einy
	url = git@github.com:Data-Science-Kharazmi-University/MohammadMahdi-Einy.git
[submodule "Users/Maryam-Mirzaey"]
	path = Users/Maryam-Mirzaey
	url = git@github.com:Data-Science-Kharazmi-University/Maryam-Mirzaey.git
[submodule "Users/Amirhosein-Dashty"]
	path = Users/Amirhosein-Dashty
	url = git@github.com:Data-Science-Kharazmi-University/Amirhosein-Dashty.git
[submodule "Users/Mojtaba-Almasian"]
	path = Users/Mojtaba-Almasian
	url = git@github.com:Data-Science-Kharazmi-University/Mojtaba-Almasian.git
[submodule "Users/MohammadReza-Gholamy"]
	path = Users/MohammadReza-Gholamy
	url = git@github.com:Data-Science-Kharazmi-University/MohammadReza-Gholamy.git
[submodule "Users/Mohammad-Jamkarany"]
	path = Users/Mohammad-Jamkarany
	url = git@github.com:Data-Science-Kharazmi-University/Mohammad-Jamkarany.git
[submodule "Users/Sohrab-Mohammady"]
	path = Users/Sohrab-Mohammady
	url = git@github.com:Data-Science-Kharazmi-University/Sohrab-Mohammady.git
[submodule "Users/Kiarash-Hajian"]
	path = Users/Kiarash-Hajian
	url = git@github.com:Data-Science-Kharazmi-University/Kiarash-Hajian.git
[submodule "Users/Sadegh-MirzaBeigy"]
	path = Users/Sadegh-MirzaBeigy
	url = git@github.com:Data-Science-Kharazmi-University/Sadegh-MirzaBeigy.git
[submodule "Users/Negar-Bahmany"]
	path = Users/Negar-Bahmany
	url = git@github.com:Data-Science-Kharazmi-University/Negar-Bahmany.git
[submodule "Users/Mohammad-Hafezianzadeh"]
	path = Users/Mohammad-Hafezianzadeh
	url = git@github.com:Data-Science-Kharazmi-University/Mohammad-Hafezianzadeh.git
[submodule "Users/Amirmahdi-Mohseny"]
	path = Users/Amirmahdi-Mohseny
	url = git@github.com:Data-Science-Kharazmi-University/Mohammad-Hafezianzadeh.git
